:root {
    --bg-color: #f9fcfc;
    --fg-color: #36363b;
}


* {
    box-sizing: border-box;
}


body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    color: var(--fg-color);
    background-color: var(--bg-color);

    margin: 0;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
    position: absolute;

}

.app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;
}

.header {
    height: 2rem;
    background-color: #faebd7;
    width: 100vw;
}

.footer {
    height: 2rem;
    position: fixed;
    bottom: 0;
    background: linear-gradient(rgba(255, 255, 255, 0), var(--bg-color));
    width: 100vw;
}



.pages-container {
    height: calc(100vh - 2rem);
    position: absolute;
    top: 2rem;
    touch-action: none;
}

.page {
    height: calc(100vh - 2rem);
    width: 100vw;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 1rem;
}

.no-scroll {

}








